.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home__logo-link {
  display: inline-block;
  margin: 20px 0;
}
.home__logo-img {
  width: 150px;
}
.home__content {
  text-align: center;
}
.home__heading {
  color: #525252;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  font-weight: 200;
}
.home__nav {
  margin: 20px 0;
}
.home__nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home__nav-list-item {
  margin: 5px 15px;
}
.home__nav-list-link {
  font-size: 16px;
  color: #525252;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}
.home__nav-list-link:hover {
  text-decoration: underline;
  color: #53C1DE;
}